<div class="container hero mb-5">
  <div class="row d-md-flex d-sm-block align-items-center">
    <div class="col-md-6 col-sm-12 mb-5">
      <h1 class="font-weight-bold text-sm-center text-md-left">
        Feel free to get in touch with us
      </h1>
    </div>
    <div class="col-md-6 col-sm-12">
      <img class="img-fluid" src="/assets/contact_us.svg" alt="Contact Us" />
    </div>
  </div>
</div>

<div class="container contact">
  <div class="row d-md-flex align-items-center">
    <div class="col-md-6 col-sm-12">
      <img
        src="/assets/oretti.svg"
        alt=""
        class="img-fluid d-none d-md-block"
      />
    </div>
    <div class="col-md-6 col-sm-12 m-sm-auto m-md-0">
      <div class="form">
        <div class="d-flex heading align-items-center mb-4">
          <i class="far fa-envelope fa-3x"></i>
          <h3 class="font-weight-bold ml-4">Contact Us</h3>
        </div>
        <form action="">
          <div class="input">
            <input type="text" placeholder="Your Name" />
          </div>
          <div class="input">
            <input type="email" placeholder="Email Address" />
          </div>
          <div class="input">
            <textarea rows="10" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-block">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
