<footer>
  <div class="container-fluid secondary-footer d-none d-md-block">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-3">
          <img src="/assets/corporate_arena.png" alt="" class="img-fluid w-75">
          <p class="text-justify my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio
            doloribus eius error labore magnam minus natus nostrum perspiciatis quis?</p>
          <div class="d-flex align-items-center">
            <a href="#" class="logo facebook mr-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="logo twitter mr-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="logo youtube mr-3"><i class="fab fa-youtube"></i></a>
            <a href="#" class="logo dribble"><i class="fab fa-dribbble"></i></a>
          </div>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled ml-3">
            <li class="mb-3"><a routerLink="/">Home</a></li>
            <li class="mb-3"><a routerLink="/vacancies">Vacancies</a></li>
            <li class="mb-3"><a routerLink="/brain_teasers">Brain Teasers</a></li>
            <li class="mb-3"><a routerLink="/blog">Blog</a></li>
            <li class="mb-3"><a routerLink="/traffic_updates">Traffic Updates</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 align-self-baseline">
          <h4 class="font-weight-bold">Contact Us</h4>
          <a href="tel:+2348081987023" class="d-block mb-3">(+234) 808 198 7023</a>
          <a routerLink="/" class="d-block mb-3">www.corporatearenas.com</a>
          <a href="mailto:corporateworldarena@gmail.com" class="d-block">corporateworldarena@gmail.com</a>
        </div>
        <div class="col-md-3 align-self-end">
          <div class="ml-3">
            <a href="" class="d-block mb-3">Terms and Conditions</a>
            <a href="" class="d-block">F.A.Q</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">&copy; Corporate Arenas {{ year | date : "yyyy" }}</div>
        <div class="col-md-9">
          <img class="img-fluid w-25" src="/assets/corporate_arena.png" alt="Corporate Arenas">
        </div>
      </div>

      <hr class="my-3">

      <div class="row">
        <div class="col-6 d-flex">
          <a class="d-block px-3" routerLink="/">Home</a>
          <a class="d-block px-3" routerLink="/blog">Articles</a>
          <a class="d-block" routerLink="/contact">Contact</a>
        </div>
        <div class="col-6">
          <a href="#" class="logo dark mr-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="logo dark mr-3"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="logo dark mr-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="logo dark mr-3"><i class="fab fa-youtube"></i></a>
          <a href="#" class="logo dark"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
