<div class="container mx-auto py-5">
  <div
    class="d-flex flex-column justify-content-between align-items-center hero"
  >
    <h1 class="text-center">Job Vacancies | Traffic Updates &amp; Articles</h1>
    <p class="text-justify w-75 mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
      culpa dolor eaque eum placeat ratione reprehenderit sunt, veritatis
      voluptates voluptatum.
    </p>
    <a routerLink="/vacancies" class="btn btn-success">Get Started</a>
    <img
      src="/assets/home_hero_illustration.svg"
      alt=""
      class="illustration img-fluid"
    />
  </div>
</div>

<div class="container-fluid research-section my-3 py-4">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-3 col-sm-12">
        <h1 class="mb-5">Today's Research, Tomorrow's Innovation</h1>
      </div>
      <div class="col-md-9 col-sm-12 research-list d-flex">
        <div class="research-card">
          <img src="/assets/research.svg" alt="" />
          <h4>Title goes here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur culpa doloremque eaque inventore ipsam magnam omnis,
            repellat voluptate! Nulla, tempora!
          </p>
        </div>
        <div class="research-card">
          <img src="/assets/research.svg" alt="" />
          <h4>Title goes here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur culpa doloremque eaque inventore ipsam magnam omnis,
            repellat voluptate! Nulla, tempora!
          </p>
        </div>
        <div class="research-card">
          <img src="/assets/research.svg" alt="" />
          <h4>Title goes here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur culpa doloremque eaque inventore ipsam magnam omnis,
            repellat voluptate! Nulla, tempora!
          </p>
        </div>
        <div class="research-card">
          <img src="/assets/research.svg" alt="" />
          <h4>Title goes here</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur culpa doloremque eaque inventore ipsam magnam omnis,
            repellat voluptate! Nulla, tempora!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid brain-teaser-section my-4">
  <div class="hero d-flex justify-content-between align-items-center">
    <img
      src="/assets/brain_teaser_left_img.svg"
      alt=""
      class="img-fluid d-none d-md-block"
    />
    <div class="heading d-flex flex-column mx-md-0 mx-auto">
      <h2 class="text-center mb-3">Brain Teaser</h2>
      <h4 class="text-center mb-2">How it works</h4>
      <span></span>
    </div>
    <img
      src="/assets/brain_teaser_right_img.svg"
      alt=""
      class="img-fluid d-none d-md-block"
    />
  </div>

  <div class="container">
    <div class="d-flex flex-column img-slider">
      <img src="/assets/teaser.svg" alt="" class="img-fluid" />

      <div class="d-flex justify-content-between align-items-center controls">
        <button class="btn">Previous</button>
        <ul>
          <li class="active mr-3"></li>
          <li class="mr-3"></li>
          <li></li>
        </ul>
        <button class="btn">Next</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid vacancy-section">
  <div class="container">
    <div
      class="d-flex flex-column content align-items-center justify-content-between"
    >
      <h2 class="text-center">Find vacancies from to Companies in the world</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque,
        dolor fugit illo incidunt labore magni non odit quis reprehenderit.
      </p>
      <a routerLink="/vacancies" class="btn btn-success mt-3"
        >VIEW JOB VACANCIES</a
      >
      <img src="/assets/job-flow.svg" alt="" class="img-fluid mt-5" />
    </div>
  </div>
  <img
    src="/assets/polka_dots.svg"
    alt=""
    class="img-fluid polka-dots d-none d-md-block"
  />
</div>

<div class="container-fluid traffic-update-section">
  <div class="container">
    <div
      class="d-flex flex-column content align-items-center justify-content-between"
    >
      <h2 class="text-center">Traffic News one click away</h2>
      <p class="text-justify mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cumque,
        dolor fugit illo incidunt labore magni non odit quis reprehenderit.
      </p>
    </div>

    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-6 col-sm-12 mb-4">
        <img src="/assets/world_connected.svg" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6 col-sm-12">
        <img src="/assets/traffic_illustration.svg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
  <!--  <img class="illustration img-fluid w-75 h-75" src="/assets/path.svg" alt="" />-->
</div>
