@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  height: 100vh;
}

.answer-card {
  box-shadow: 10px 10px 16px #dee4ed, -10px -10px 16px #ffffff,
    inset 4px 4px 4px rgba(222, 228, 237, 0.4), inset -4px -4px 8px #ffffff;
  padding: 1rem;
  border-radius: 10px;

  .user-image {
    height: 80px;
    width: 80px;

    img {
      border-radius: 50%;
    }
  }

  .user {
    span {
      color: #2a8bf2;
    }
  }
}

.answer-box {
  box-shadow: 4px 4px 40px rgba(238, 238, 255, 0.5);
  padding: 3rem;
  margin: 5rem 0;

  .input {
    background: #ffffff;
    border: 1px solid rgba(108, 99, 255, 0.42);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.8rem 0.4rem;
    input,
    textarea {
      outline: none;
      border: 0;
      background: transparent;
    }
  }

  .btn {
    background: rgba(108, 99, 255, 0.25);
    border-radius: 10px;
    color: #6c63ff;
    margin-top: 20px;
  }
}
